# Virtual environment (venv)
venv/
.env/
.venv/
idea/
.idea/

# Distribution / Packaging
dist/
build/

# Database files
*.sqlite3
*.db

# Environment variables and secrets
.env
*.secret
config.json
secrets.json